@import "variable.scss";

@font-face {
  font-family: "Inter-Regular";
  src: url("/assets/fonts/Inter-Regular.woff2");
}
@font-face {
  font-family: "farsi-digit";
  src: url("/assets/fonts/farsi-digit.woff2");
}
html {
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5;
  font-family: "Inter-Regular", "farsi-digit";
  max-width: 100%;
  max-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  font-family: "Inter-Regular", "farsi-digit";
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
  &.modal-open {
    .custom-scroll {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
}
a {
  color: black;
  text-decoration: none;
}
.chat-box {
  width: 100%;
  flex: 2.15;
  display: flex;
  flex-direction: column;
  .select-chat-msg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.chat-wrapper {
  display: flex;
  height: 100vh;

  .chat-list {
    border-right: 1px solid gray;
    flex: 0.85;
    overflow-y: auto;
    .chat-list__header {
      padding: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.9rem;
      border-bottom: 1px solid $gray-200;
      .chat-list__header-search {
        position: relative;
        border: 1px solid #d9d9d9;
        border-radius: 0.6rem;
        padding: 0.7rem;
        flex: 1 1 auto;
        input {
          border: none;
          padding: 0 2.5rem;
        }
        & :focus {
          outline: none;
          border: none;
        }
        .search-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          font-size: 2rem;
          color: $gray-200;
        }
        .filter-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          font-size: 2rem;
          color: $gray-300;
          cursor: pointer;
        }
      }
      .chat-list__header-group {
        .chat-list__header-group-btn {
          border: 1px solid $blue-100;
          background-color: $light;
          padding: 0.2rem 0.4rem;
          border-radius: 0.6rem;
          cursor: pointer;
          .group-icon {
            font-size: 2rem;
            color: $blue-100;
          }
        }
        & :hover {
          background: none;
        }
      }
    }
    .chat-list__items {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 89vh;
      .chat-list__item {
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 1056px) {
  .chat-list {
    flex: 1 !important;
  }
  .chat-list__items {
    padding-bottom: 5rem !important;
  }
}
.user-card {
  display: flex;
  // align-items: center;
  padding: 0.9rem;
  border-bottom: 1px solid $gray-200;
  gap: 0.9rem;
  position: relative;
  .user-card__img {
    img {
      object-fit: cover;
      width: 70px;
      height: 100%;
      border-radius: 0.5rem;
    }
  }
  .user-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .user-card__head {
      display: flex;
      justify-content: space-between;
      .user-card__head-title {
        font-size: 14px;
        font-weight: 700;
        width: 200px;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
      }
      .user-card__head-date {
        font-size: 11px;
        color: $gray-300;
      }
    }
    .user-card__content {
      display: flex;
      .user-card__content-info {
        display: flex;
        gap: 5px;
        flex: 1 1 auto;
        .user-card__content-name {
          font-size: 12px;
          font-weight: 500;
          white-space: nowrap;
        }
        .user-card__content-sub {
          font-size: 12px;
          font-weight: 400;
          color: $gray-300;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          // width: 150px;
          // display: block;
          // overflow: hidden;
        }
      }
      .user-card__content-msg-count {
        background-color: salmon;
        padding: 3px 6px;
        font-size: 10px;
        border-radius: 0.2rem;
        color: $light;
        min-width: 1rem;
        display: flex;
        justify-content: center;
      }
    }
    .user-card__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      .user-card__tags {
        display: flex;
        gap: 10px;
        .user-card__tags-btn {
          border-radius: 0.3rem;
          padding: 0.1rem 0.9rem;
          font-size: 11px;
          font-weight: 500;
          background-color: transparent;
        }
        .user-card__tags-btn-inbox {
          border: 1px solid $salmon;
          color: $salmon;
        }
        .user-card__tags-btn-type {
          border: 1px solid $blue-100;
          color: $blue-100;
        }
      }
      .user-card__option {
        .option-icon {
          font-size: 1rem;
        }
      }
    }
  }
  .option-icon {
    position: absolute;
    right: 17px;
    bottom: 5px;
    font-size: 1.5rem;
    color: $gray-200;
    cursor: pointer;
  }
}
.chatbox-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  .chatbox-header {
    padding: 0.7rem;
    display: flex;
    gap: 0.9rem;
    // border-bottom: 1px solid $gray-200;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: $gray-50;
    .chatbox-header__content {
      display: flex;
      align-items: center;
      gap: 10px;
      .chatbox-header__img {
        height: 100%;
        img {
          object-fit: cover;
          width: 70px;
          height: 100%;
          border-radius: 0.5rem;
        }
      }
      .chatbox-header__info {
        display: flex;
        flex-direction: column;
        .chatbox-header__info-title {
          display: flex;
          .chatbox-header__type {
            color: $blue-100;
            font-size: 16px;
            font-weight: 700;
          }
          .chatbox-header__name {
            font-size: 16px;
            font-weight: 400;
          }
        }
        .chatbox-header__info-members {
          display: flex;
          font-size: 12px;
          color: $gray-300;
        }
      }
    }

    .left-icon {
      color: $blue-100;
      font-size: 2rem;
      margin-top: 5px;
      cursor: pointer;
    }
  }
  .chatbox-content {
    padding: 0.7rem;
    padding-bottom: 5rem;
    // height: 100vh;
    overflow-y: auto;
    position: relative;
    .back-to-bottom {
      border: none;
      border-radius: 5px;
      position: fixed;
      bottom: 5rem;
      right: 1.5rem;
      z-index: 1000;
      cursor: pointer;
      .down-icon {
        font-size: 1.5rem;
        color: $gray-300;
      }
    }
  }
  .chatbox-footer {
    background-color: $gray-100;
    padding: 0.7rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    .isMessaging {
      background-color: $blue-100 !important;
    }
    .chatbox-footer__icons {
      background-color: $blue-100;
      cursor: pointer;

      .send-icon {
        font-size: 2rem;
        color: $light;
        cursor: pointer;
      }
    }
    .chatbox-footer__attach {
      cursor: pointer;
      .attach-icon {
        font-size: 2rem;
        color: $gray-300;
      }
    }
    .chatbox-footer__icons {
      border-radius: 0.4rem;
      background-color: $light;
      border: 1px solid $gray-100;
      display: flex;
      justify-content: center;

      .voice-icon {
        font-size: 2rem;
        color: $gray-300;
      }
    }
    .chatbox-footer__input-msg {
      background-color: $light;
      border-radius: 0.4rem;
      padding: 0.7rem;
      flex: 1 1 auto;
      input {
        border: none;
        width: 100%;
      }
      & :focus {
        outline: none;
        border: none;
      }
    }
  }
}

.message-card {
  display: flex;
  align-items: end;
  gap: 5px;

  .message-card__user-img {
    img {
      object-fit: cover;
      width: 30px;
      height: 30px;
      border-radius: 0.5rem;
    }
  }
  .message-card__user-msg {
    display: flex;
    flex-direction: column;
    .message-card__user-msg-item {
      display: inline-block !important;
      background-color: $gray-100;
      border-radius: 10px 10px 10px 10px;
      padding: 0.2rem 0.4rem;
      margin-top: 15px;
      .message-card__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        font-size: 12px;
        .message-card__header-info {
          display: flex;
          flex-direction: column;
          font-size: 10px;
          .message-card__user-forward {
            color: $blue-100;
          }
          .message-card__user-forward-name {
            color: $blue-100;
          }
        }
        .message-card__user-name {
          color: #25bdbe;
          font-size: 11px;
        }
        .down-icon {
          color: $gray-300;
        }
      }
      .message-card__content {
        font-size: 14px;
        max-width: 50rem;
        word-wrap: break-word;
        text-align: initial;
        unicode-bidi: plaintext;
        .message-card__content-sent-img {
          height: 100px;
          max-width: 100%;
          border-radius: 5px;
        }
      }
      .message-card__date {
        font-size: 10px;
        color: $gray-300;
      }
    }
    & :last-child {
      border-radius: 10px 10px 10px 0;
    }
  }
}
@media (max-width: 768px) {
  .message-card__content {
    max-width: 20rem !important;
  }
}
@media (max-width: 420px) {
  .message-card__content {
    max-width: 15rem !important;
  }
}
.message-card--user {
  flex-direction: row-reverse;
  .message-card__user-msg {
    .message-card__user-msg-item {
      display: inline-block !important;
      word-wrap: break-word !important;

      background-color: $blue-100;
      color: $light;
      .message-card__user-name {
        color: $blue-300 !important;
      }
      .down-icon {
        color: $gray-400 !important;
      }
      .message-card__content {
        display: inline-block !important;
        max-width: 50rem;
        word-wrap: break-word;
        text-align: initial;
        unicode-bidi: plaintext;
      }
      .message-card__date {
        font-size: 11px;
        color: $light;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .check-icon {
          font-size: 10px;
          color: $light;
          display: block;
        }
      }
    }
  }
  & :last-child {
    border-radius: 10px 10px 0 10px !important;
  }
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
  width: 300px;
  margin: 150px auto;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  position: relative;
  .close-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
  .modal-title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  .modal-header {
    display: flex;
    flex-direction: column;
    input {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid $gray-200;
    }
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    input {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid $gray-200;
    }
  }
  .modal-submit {
    background-color: $salmon;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
